RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#Main Rule
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$ index.php?a=$1&uid=$2&rid=$3 [NC,L,QSA]